@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body {
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#main h1{
  color: white;
  font-size: 4vw;
  font-family: 'Noto Serif', serif;
}
#main{
  width: 96vw;
  height: 94vh;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  justify-content: left;
}
#upload{
  margin-top: 3vw;
  font-size: 1.5vw;
}