<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='aboutUs.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ResWeb</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: white;">
        <a style="margin-left: 1vw;" class="navbar-brand" href="/">ResWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Templates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">How it works?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
<div id="main">
    <div id="abt">
    <h1 style="font-size: 3.5vw; margin-top: 2vw;">About US</h1>
    </div>
    <h1 id="py">Python Pacers</h1>
    <h3 style="font-size: 1.5vw;">A team of 3 developers</h3>
    <div id="profile">
        <div id="content">
            <h2><strong>Ripandeep Singh</strong></h2>
            <p>Student @SJSU</p>
            <button class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-linkedin-square" style="font-size:22px"></i>  LinkedIn</button>
            <button class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-github" style="font-size:22px"></i>  Github</button>
        </div>
        <div id="content">
            <h2><strong>Tanveer Hehar</strong></h2>
            <p>Student @SJSU</p>
            <button class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-linkedin-square" style="font-size:22px"></i>  LinkedIn</button>
            <button class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-github" style="font-size:22px"></i>  Github</button>

        </div>
        <div id="content">
            <h2><strong>Ram Khanna</strong></h2>
            <p>Student @SJSU</p>
            <button class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-linkedin-square" style="font-size:22px"></i>  LinkedIn</button>
            <button class="btn btn-primary" onclick="window.location.href='https://www.linkedin.com/in/ripandeep-singh/';"><i class="fa fa-github" style="font-size:22px"></i>  Github</button>
        </div>
    </div>
<h4 style="margin-top: 3vw;">Contact us:</h4>
<p>sh.2100.ra@gmail.com</p>
</div>
</body>
</html>